.movie-details {
  position: relative;

  &__close {
    font-size: 40px;
    font-weight: bold;
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    cursor: pointer;
  }
}
