.movie-modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  &__content {
    width: 600px;
    height: 100vh;
    background: #bababa;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
  }
}
