.tile {
  width: 200px;
  height: 232px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 2px;
  position: relative;
  background: #bababa;

  &__poster {
    height: 200px;

    img {
      width: 100%;
    }
  }

  &__title {
    position: relative;
    font-size: 24px;
    background: #000;
    color: #fff;
    margin: 0;
    width: 100%;
    display: block;
    padding: 3px;
    bottom: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--adult {
    border: 2px solid red;
    margin: 0;
  }
}
